RYU_PG_HOST=localhost
RYU_PG_PORT=5432
RYU_PG_DB=ryu_dev
RYU_PG_USER=ryu
RYU_PG_PASSWORD=ryu_dev_password
RYU_REDIS_HOST=localhost
RYU_REDIS_PORT=6379
RYU_REDIS_STREAM_PREFIX=ryu:pulses
RYU_REDIS_CONSUMER_GROUP=ryu-consumer
RYU_INTEGRATION_TESTS=0

